@import "tailwindcss";

:root {
  --bg-light: #f4f4f4;
  --text-light: #1a202c;
  --bg-dark: #1a202c;
  --text-dark: #f4f4f4;
}

body {
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

input[type="number"] {
  background-color: inherit;
  color: inherit;
  border-color: #d1d5db !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  width: 16px;
  height: 16px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-outer-spin-button:hover {
  border-color: #60a5fa;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.dark input[type="number"] {
  background-color: #1f2937 !important;
  color: white !important;
  border-color: #4b5563 !important;
}

.dark input[type="number"]::-webkit-inner-spin-button,
.dark input[type="number"]::-webkit-outer-spin-button {
  filter: invert(1);
  opacity: 0.8;
}

.dark input[type="number"]::-webkit-inner-spin-button:hover,
.dark input[type="number"]::-webkit-outer-spin-button:hover {
  border-color: #3b82f6 !important;
  opacity: 1;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }